---
layout: null
sitemap:
    exclude: 'yes'
---

{% include head.html %}

<main data-barba="container" data-barba-namespace="page">
    <h1>Sitemap</h1>

    <section>
        <h2>Pages</h2>
        <ul>
            {% for page in site.pages %}
            {% unless page.sitemap.exclude == "yes" or page.name == "feed.xml" or page.title == null %}
            <li>
                <a href="{{ site.url }}{{ page.url | remove: "index.html" }}">
                    {{ page.title }}
                </a>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Posts</h2>
        <ul>
            {% for post in site.posts %}
            {% unless post.published == false %}
            <li>
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
    </section>


</main>

{% include footer.html %}