<nav class="sidebar wo">
    <div class="col-1-4">
        <h2>
            Site Contents
        </h2>
        {% for cat in site.categories %}
        <h3>
            {{ cat[0] }}
        </h3>
        <ul>
            {% for post in cat[1] %}
            <li class="p">
                <a href="{{ post.url }}">
                    {{ post.title }}
                    <span>
                        {{ post.level }}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</nav>