{% include head.html %}

<main class="home">
	<div class="wo pv">

    <div class="home__feed">
        {% for post in site.posts %}
        <archive class="home__feed__post col-1-13">
            <h2>
               <a href="{{ post.url }}">
                    {{ post.title }}
               </a>
            </h2>
            <h3>
                Tags:
            </h3>
            <ul>
                <li>
                    <a href="">
                        Tag 1
                    </a>
                </li>
                <li>
                    <a href="">
                        Tag 1
                    </a>
                </li>
            </ul>
        </archive>
        {% endfor %}
    </div>
	</div>
</main>

{% include footer.html %}
