{% include head.html %}

{% include sidebar.html %}

<main class="post content-wrapper">
    <article class="wo">
        <h2 class="post__header col-1-13">
            {{ page.title }}
        </h2>
        <dl class="post__datalist col-1-6">
            <dt>WCAG Section</dt>
            <dd>{{ page.category }}</dd>
        
            <dt>Level</dt>
            <dd>{{ page.level }}</dd>

            <dt>W3.org Link</dt>
            <dd>
                <a href="{{ page.w3_link }}">
                    Understanding Success Criterion {{ page.title }}
                </a>
            </dd>
        
            <dt>Tags</dt>
            <dd>
                <ul class="tag-list tag-list--links">
                    {% for tag in page.tags %}
                    <li>
                        <a href="/tags/{{ tag | slugify }}">
                            {{ tag }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>

        <div class="post__content wysiwyg">
            {{ content }}
        </div>
    
    </article>
</main>

{% include footer.html %}