<footer class="main-footer wo-full pv">
    <div class="p col-1-7 m-col-1-9 s-col-1-5">
        <small class="editable">©{{ 'now' | date: "%Y" }} Nicky Wolfe </small>  |  
        <a class="editable" href="/privacy/">Privacy</a>  |  
        <a class="editable" href="/accessibility/">Accessibility</a>
    </div>
    <p class="p col-7-13 m-col-1-9 s-col-1-5">
        <strong>
            Disclaimer:
        </strong>
        This website is not accessible. This website is only my opinion and should not be taken as advice.
    </p>
</footer>
</body>
</html>
