        <footer class="main-footer content-wrapper pv">
            <div class="wo">
                <div class="p col-1-7 m-col-1-9 s-col-1-5">
                    <small class="editable">
                        ©{{ 'now' | date: "%Y" }} 
                        <a href="https://nicky.dev">
                            Nicky Wolfe
                        </a> 
                    </small> 
                </div>
                <p class="p col-7-13 m-col-1-9 s-col-1-5">
                    <strong>
                        Disclaimer:
                    </strong>
                    This website is not accessible. This website is only my opinion and should not be taken as advice.
                </p>
            </div>
        </footer>
    </body>
</html>
