        <footer class="main-footer content-wrapper pv">
            <div class="wo">
                <div class="p col-1-7 m-col-1-9 s-col-1-5">
                    <small class="editable">
                        ©{{ 'now' | date: "%Y" }} 
                        <a href="https://nicky.dev">
                            Nicky Wolfe
                        </a> 
                    </small> 
                </div>
                <div class="col-7-13 m-col-1-9 s-col-1-5">
                    <p class="p">
                        <strong>
                            Disclaimer:
                        </strong>
                        This website is not currently accessible. All content on this website is only my opinion and should not be taken as advice. Always refer to your local accessibility acts and any legislation.
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
