<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Nicky Wolfe https://nicky.dev">
    <meta name="web-author" content="Nicky Wolfe https://nicky.dev">
    <meta name="theme-color" content="#000">
    <!--  Social Media Share META Tags -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article" />
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="">
    <meta property="og:description" content="">
    
    <!-- favicons -->

    <!-- scripts -->
    <script src="/assets/js/global.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/main.css">  

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

    <!-- end wp head -->
</head>

{% assign pageURLsplit = page.url | split: '/' %}
{% capture pagePermalink %}/{{ pageURLsplit[1] }}/{% endcapture %}

<body id="bodyID" class="page-{{ pageURLsplit }}">
    <a id="skipLink" href="#skipNavigation">Skip Navigation</a>
    <header id="mainHeader" class="main-header content-wrapper">
        <div class="wo">
            <h1>
                WCAG In English - Nicky's Opinions
            </h1>
        </div>
    </header>
    <div id="skipNavigation"></div>
