<nav class="sidebar">
    <h2>
        Site Contents
    </h2>
    {% for cat in site.categories %}
    <h3>
        {{ cat[0] }}
    </h3>
    <ul>
        {% for post in cat[1] %}
        <li class="p">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
            <ul class="tag-list">
                <li>
                    {{ post.level }}
                </li>
                {% for tag in page.tags %}
                <li>
                    {{ tag }}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</nav>